name: ci-main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest] # macos-latest, windows-latest
        node: [20]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.1.3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Prepare Dev
        run: pnpm run dev:prepare
      - name: Lint
        run: pnpm run lint
      - name: Build
        run: pnpm run build

      # - name: Version Check
      #   id: check
      #   uses: EndBug/version-check@v2
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}

      # - name: Release
      #   if: github.event_name == 'push' && steps.check.outputs.changed == 'true'
      #   run: ./scripts/release.sh
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
